Kumano/.NET4.5/Kumano.Data/Service References/Service/mex1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Mogami.Core.Expression" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Mogami.Core.Expression" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="FindExpression">
    <xs:sequence>
      <xs:element minOccurs="0" name="Left" nillable="true" type="tns:ExpKeyValue" />
      <xs:element minOccurs="0" name="Relational" type="tns:RelationalType" />
      <xs:element minOccurs="0" name="Right" nillable="true" type="tns:ExpKeyValue" />
      <xs:element minOccurs="0" name="SubConnection" type="tns:LogicalType" />
      <xs:element minOccurs="0" name="SubExpression" nillable="true" type="tns:ArrayOfFindExpression" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FindExpression" nillable="true" type="tns:FindExpression" />
  <xs:complexType name="ExpKeyValue">
    <xs:sequence>
      <xs:element minOccurs="0" name="Key" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExpKeyValue" nillable="true" type="tns:ExpKeyValue" />
  <xs:simpleType name="RelationalType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="EQUAL" />
      <xs:enumeration value="UNEQUAL" />
      <xs:enumeration value="GREATER" />
      <xs:enumeration value="GREATER_EQUAL" />
      <xs:enumeration value="LESS" />
      <xs:enumeration value="LESS_EQUAL" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="RelationalType" nillable="true" type="tns:RelationalType" />
  <xs:simpleType name="LogicalType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="AND" />
      <xs:enumeration value="OR" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="LogicalType" nillable="true" type="tns:LogicalType" />
  <xs:complexType name="ArrayOfFindExpression">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FindExpression" nillable="true" type="tns:FindExpression" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFindExpression" nillable="true" type="tns:ArrayOfFindExpression" />
</xs:schema>