Kumano/.NET4.5/Kumano.Data/Service References/Service/mex2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8000/Kumarinko.Server/Mogami/mex?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Mogami.Service.Request" />
  <xs:import schemaLocation="http://localhost:8000/Kumarinko.Server/Mogami/mex?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Mogami.Service.Response" />
  <xs:import schemaLocation="http://localhost:8000/Kumarinko.Server/Mogami/mex?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Mogami.Service.Construction" />
  <xs:element name="AddCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Mogami.Service.Request" minOccurs="0" name="reqparam" nillable="true" type="q1:REQUEST_ADDCATEGORY" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Mogami.Service.Response" minOccurs="0" name="AddCategoryResult" nillable="true" type="q2:RESPONSE_ADDCATEGORY" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindArtifact">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Mogami.Service.Request" minOccurs="0" name="reqparam" nillable="true" type="q3:REQUEST_FINDARTIFACT" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindArtifactResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Mogami.Service.Response" minOccurs="0" name="FindArtifactResult" nillable="true" type="q4:RESPONSE_FINDARTIFACT" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServerVersion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Mogami.Service.Construction" minOccurs="0" name="versionType" type="q5:VERSION_SELECTOR" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServerVersionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Mogami.Service.Response" minOccurs="0" name="GetServerVersionResult" nillable="true" type="q6:RESPONSE_GETSERVERVERSION" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadArtifact">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Mogami.Service.Request" minOccurs="0" name="reqparam" nillable="true" type="q7:REQUEST_LOADARTIFACT" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadArtifactResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Mogami.Service.Response" minOccurs="0" name="LoadArtifactResult" nillable="true" type="q8:RESPONSE_LOADARTIFACT" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Mogami.Service.Request" minOccurs="0" name="reqparam" nillable="true" type="q9:REQUEST_LOADCATEGORY" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadCategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Mogami.Service.Response" minOccurs="0" name="LoadCategoryResult" nillable="true" type="q10:RESPONSE_LOADCATGEORY" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadTag">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Mogami.Service.Request" minOccurs="0" name="reqparam" nillable="true" type="q11:REQUEST_LOADTAG" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadTagResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Mogami.Service.Response" minOccurs="0" name="LoadTagResult" nillable="true" type="q12:RESPONSE_LOADTAG" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadThumbnail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Mogami.Service.Request" minOccurs="0" name="reqparam" nillable="true" type="q13:REQUEST_LOADTHUMBNAIL" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadThumbnailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Mogami.Service.Response" minOccurs="0" name="LoadThumbnailResult" nillable="true" type="q14:RESPONSE_LOADTHUMBNAIL" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Logout">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LogoutResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Mogami.Service.Request" minOccurs="0" name="reqparam" nillable="true" type="q15:REQUEST_UPDATECATEGORY" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Mogami.Service.Response" minOccurs="0" name="UpdateCategoryResult" nillable="true" type="q16:RESPONSE_UPDATECATEGORY" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>