Kumano/.NET4.5/Kumano.Data/Service References/Service/mex5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Mogami.Service.Response" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Mogami.Service.Response" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8000/Kumarinko.Server/Mogami/mex?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Mogami.Service.Serialized" />
  <xs:complexType name="RESPONSE_ADDCATEGORY">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:RESPONSEAPI_BASE">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RESPONSE_ADDCATEGORY" nillable="true" type="tns:RESPONSE_ADDCATEGORY" />
  <xs:complexType name="RESPONSEAPI_BASE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RESPONSEAPI_BASE" nillable="true" type="tns:RESPONSEAPI_BASE" />
  <xs:complexType name="RESPONSE_FINDARTIFACT">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:RESPONSEAPI_BASE">
        <xs:sequence>
          <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Mogami.Service.Serialized" minOccurs="0" name="Artifacts" nillable="true" type="q1:ArrayOfDataArtifact" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RESPONSE_FINDARTIFACT" nillable="true" type="tns:RESPONSE_FINDARTIFACT" />
  <xs:complexType name="RESPONSE_GETSERVERVERSION">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:RESPONSEAPI_BASE">
        <xs:sequence>
          <xs:element minOccurs="0" name="VersionText" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RESPONSE_GETSERVERVERSION" nillable="true" type="tns:RESPONSE_GETSERVERVERSION" />
  <xs:complexType name="RESPONSE_LOADARTIFACT">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Mogami.Service.Serialized" minOccurs="0" name="Artifact" nillable="true" type="q2:DataArtifact" />
      <xs:element minOccurs="0" name="FilePath" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RESPONSE_LOADARTIFACT" nillable="true" type="tns:RESPONSE_LOADARTIFACT" />
  <xs:complexType name="RESPONSE_LOADCATGEORY">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:RESPONSEAPI_BASE">
        <xs:sequence>
          <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Mogami.Service.Serialized" minOccurs="0" name="Categories" nillable="true" type="q3:ArrayOfDataCategory" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RESPONSE_LOADCATGEORY" nillable="true" type="tns:RESPONSE_LOADCATGEORY" />
  <xs:complexType name="RESPONSE_LOADTHUMBNAIL">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:RESPONSEAPI_BASE">
        <xs:sequence>
          <xs:element minOccurs="0" name="ThumbnailBytes" nillable="true" type="xs:base64Binary" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RESPONSE_LOADTHUMBNAIL" nillable="true" type="tns:RESPONSE_LOADTHUMBNAIL" />
  <xs:complexType name="RESPONSE_UPDATECATEGORY">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:RESPONSEAPI_BASE">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RESPONSE_UPDATECATEGORY" nillable="true" type="tns:RESPONSE_UPDATECATEGORY" />
</xs:schema>