Kumano/.NET4.5/Kumano.Data/Service References/Service/mex5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Mogami.Service.Serialized" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Mogami.Service.Serialized" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfDataArtifact">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DataArtifact" nillable="true" type="tns:DataArtifact" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDataArtifact" nillable="true" type="tns:ArrayOfDataArtifact" />
  <xs:complexType name="DataArtifact">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="IdentifyKey" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ThumbnailKey" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DataArtifact" nillable="true" type="tns:DataArtifact" />
</xs:schema>