Kumano/.NET4.5/Kumano.Data/Service References/Service/mex5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Mogami.Service.Response" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Mogami.Service.Response" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="RESPONSE_FINDARTIFACT">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:RESPONSEAPI_BASE">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RESPONSE_FINDARTIFACT" nillable="true" type="tns:RESPONSE_FINDARTIFACT" />
  <xs:complexType name="RESPONSEAPI_BASE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RESPONSEAPI_BASE" nillable="true" type="tns:RESPONSEAPI_BASE" />
  <xs:complexType name="RESPONSE_GETSERVERVERSION">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:RESPONSEAPI_BASE">
        <xs:sequence>
          <xs:element minOccurs="0" name="VersionText" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RESPONSE_GETSERVERVERSION" nillable="true" type="tns:RESPONSE_GETSERVERVERSION" />
</xs:schema>