Kumano/.NET4.5/Kumano.Data/Service References/Service/MogamiApiService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MogamiApiService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetNamedPipeBinding_IMogamiApiService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8000/Kumarinko.Server/Mogami/mex?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8000/Kumarinko.Server/Mogami/mex?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8000/Kumarinko.Server/Mogami/mex?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Mogami.Service.Request" />
      <xsd:import schemaLocation="http://localhost:8000/Kumarinko.Server/Mogami/mex?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Mogami.Service.Serialized" />
      <xsd:import schemaLocation="http://localhost:8000/Kumarinko.Server/Mogami/mex?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Mogami.Core.Constructions" />
      <xsd:import schemaLocation="http://localhost:8000/Kumarinko.Server/Mogami/mex?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Mogami.Service.Response" />
      <xsd:import schemaLocation="http://localhost:8000/Kumarinko.Server/Mogami/mex?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Mogami.Service.Construction" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMogamiApiService_AddCategory_InputMessage">
    <wsdl:part name="parameters" element="tns:AddCategory" />
  </wsdl:message>
  <wsdl:message name="IMogamiApiService_AddCategory_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="IMogamiApiService_FindArtifact_InputMessage">
    <wsdl:part name="parameters" element="tns:FindArtifact" />
  </wsdl:message>
  <wsdl:message name="IMogamiApiService_FindArtifact_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindArtifactResponse" />
  </wsdl:message>
  <wsdl:message name="IMogamiApiService_GetServerVersion_InputMessage">
    <wsdl:part name="parameters" element="tns:GetServerVersion" />
  </wsdl:message>
  <wsdl:message name="IMogamiApiService_GetServerVersion_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetServerVersionResponse" />
  </wsdl:message>
  <wsdl:message name="IMogamiApiService_LoadArtifact_InputMessage">
    <wsdl:part name="parameters" element="tns:LoadArtifact" />
  </wsdl:message>
  <wsdl:message name="IMogamiApiService_LoadArtifact_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoadArtifactResponse" />
  </wsdl:message>
  <wsdl:message name="IMogamiApiService_LoadCategory_InputMessage">
    <wsdl:part name="parameters" element="tns:LoadCategory" />
  </wsdl:message>
  <wsdl:message name="IMogamiApiService_LoadCategory_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoadCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="IMogamiApiService_LoadTag_InputMessage">
    <wsdl:part name="parameters" element="tns:LoadTag" />
  </wsdl:message>
  <wsdl:message name="IMogamiApiService_LoadTag_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoadTagResponse" />
  </wsdl:message>
  <wsdl:message name="IMogamiApiService_LoadThumbnail_InputMessage">
    <wsdl:part name="parameters" element="tns:LoadThumbnail" />
  </wsdl:message>
  <wsdl:message name="IMogamiApiService_LoadThumbnail_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoadThumbnailResponse" />
  </wsdl:message>
  <wsdl:message name="IMogamiApiService_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IMogamiApiService_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IMogamiApiService_Logout_InputMessage">
    <wsdl:part name="parameters" element="tns:Logout" />
  </wsdl:message>
  <wsdl:message name="IMogamiApiService_Logout_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogoutResponse" />
  </wsdl:message>
  <wsdl:message name="IMogamiApiService_UpdateCategory_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCategory" />
  </wsdl:message>
  <wsdl:message name="IMogamiApiService_UpdateCategory_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCategoryResponse" />
  </wsdl:message>
  <wsdl:portType msc:usingSession="true" name="IMogamiApiService">
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="AddCategory">
      <wsdl:input wsaw:Action="http://tempuri.org/IMogamiApiService/AddCategory" message="tns:IMogamiApiService_AddCategory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMogamiApiService/AddCategoryResponse" message="tns:IMogamiApiService_AddCategory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="FindArtifact">
      <wsdl:input wsaw:Action="http://tempuri.org/IMogamiApiService/FindArtifact" message="tns:IMogamiApiService_FindArtifact_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMogamiApiService/FindArtifactResponse" message="tns:IMogamiApiService_FindArtifact_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetServerVersion">
      <wsdl:input wsaw:Action="http://tempuri.org/IMogamiApiService/GetServerVersion" message="tns:IMogamiApiService_GetServerVersion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMogamiApiService/GetServerVersionResponse" message="tns:IMogamiApiService_GetServerVersion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="LoadArtifact">
      <wsdl:input wsaw:Action="http://tempuri.org/IMogamiApiService/LoadArtifact" message="tns:IMogamiApiService_LoadArtifact_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMogamiApiService/LoadArtifactResponse" message="tns:IMogamiApiService_LoadArtifact_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="LoadCategory">
      <wsdl:input wsaw:Action="http://tempuri.org/IMogamiApiService/LoadCategory" message="tns:IMogamiApiService_LoadCategory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMogamiApiService/LoadCategoryResponse" message="tns:IMogamiApiService_LoadCategory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="LoadTag">
      <wsdl:input wsaw:Action="http://tempuri.org/IMogamiApiService/LoadTag" message="tns:IMogamiApiService_LoadTag_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMogamiApiService/LoadTagResponse" message="tns:IMogamiApiService_LoadTag_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="LoadThumbnail">
      <wsdl:input wsaw:Action="http://tempuri.org/IMogamiApiService/LoadThumbnail" message="tns:IMogamiApiService_LoadThumbnail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMogamiApiService/LoadThumbnailResponse" message="tns:IMogamiApiService_LoadThumbnail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IMogamiApiService/Login" message="tns:IMogamiApiService_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMogamiApiService/LoginResponse" message="tns:IMogamiApiService_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="false" msc:isTerminating="true" name="Logout">
      <wsdl:input wsaw:Action="http://tempuri.org/IMogamiApiService/Logout" message="tns:IMogamiApiService_Logout_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMogamiApiService/LogoutResponse" message="tns:IMogamiApiService_Logout_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="UpdateCategory">
      <wsdl:input wsaw:Action="http://tempuri.org/IMogamiApiService/UpdateCategory" message="tns:IMogamiApiService_UpdateCategory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMogamiApiService/UpdateCategoryResponse" message="tns:IMogamiApiService_UpdateCategory_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetNamedPipeBinding_IMogamiApiService" type="tns:IMogamiApiService">
    <wsp:PolicyReference URI="#NetNamedPipeBinding_IMogamiApiService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/named-pipe" />
    <wsdl:operation name="AddCategory">
      <soap12:operation soapAction="http://tempuri.org/IMogamiApiService/AddCategory" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindArtifact">
      <soap12:operation soapAction="http://tempuri.org/IMogamiApiService/FindArtifact" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetServerVersion">
      <soap12:operation soapAction="http://tempuri.org/IMogamiApiService/GetServerVersion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadArtifact">
      <soap12:operation soapAction="http://tempuri.org/IMogamiApiService/LoadArtifact" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadCategory">
      <soap12:operation soapAction="http://tempuri.org/IMogamiApiService/LoadCategory" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadTag">
      <soap12:operation soapAction="http://tempuri.org/IMogamiApiService/LoadTag" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadThumbnail">
      <soap12:operation soapAction="http://tempuri.org/IMogamiApiService/LoadThumbnail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap12:operation soapAction="http://tempuri.org/IMogamiApiService/Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <soap12:operation soapAction="http://tempuri.org/IMogamiApiService/Logout" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCategory">
      <soap12:operation soapAction="http://tempuri.org/IMogamiApiService/UpdateCategory" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MogamiApiService">
    <wsdl:port name="NetNamedPipeBinding_IMogamiApiService" binding="tns:NetNamedPipeBinding_IMogamiApiService">
      <soap12:address location="net.pipe://localhost/Kumarinko.Server/Halcyon" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.pipe://localhost/Kumarinko.Server/Halcyon</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>WIN-9GOHNN8UD42\atachimiko</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>